@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';
/*
estilo que habia creado meel para los botones pero solo use algunas cosas de ahi version flowbite
.pixel-button {
    background-color: #ffcce0; 
    color: #cc3366; 
    font-family: 'Press Start 2P', cursive; 
    font-size: 12px;
    padding: 10px 10px;
    border: 4px solid #cc3366; 
    box-shadow: 4px 4px 0 #cc3366;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
    
    
    border-radius: 3px; 
  }
  
  .pixel-button:hover {
    background-color: #ff99cc; 
    box-shadow: 2px 2px 0 #cc3366;
  }
  */
  
  body {
    font-family: 'Press Start 2P', monospace;
  }
  