<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="content" class="text-center">
    <ion-label style="display: inline-block;
    margin: 30px;
    background-color: #eb87b9;
    border: 2px solid #1E90FF;
    color: #113152;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(255, 94, 0, 0.295);
    box-shadow: 2px 2px 5px rgba(255, 153, 0, 0.247);">Inicia sesion para ver tus canciones!</ion-label>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

      <!-- Email -->
      <ion-label class="text-gray-400 text-lg font-semibold">Correo</ion-label><br>
      <input class="border rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400" type="email"
        name="email" id="email" required placeholder="correo@email.com" [(ngModel)]="email" #emailModel="ngModel"><br>
      <div *ngIf="emailModel.invalid && emailModel.touched" style="color:red;">Por favor ingresa un correo válido</div>

      <!-- Contraseña -->
      <ion-label class="text-gray-400 text-lg font-semibold">Contraseña</ion-label><br>
      <input name="password" id="password" [(ngModel)]="password"
        class="border rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400" type="password" required
        placeholder="........."><br><br>

      <!-- Botón de Iniciar Sesión -->
      <button
        class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-semibold font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"
        expand="full" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
    </form>

    <button (click)="onReset()"
      class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
      expand="full">Reinicia tu contraseña</button>

    <button (click)="onSignup()"
      class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
      expand="full">Registrate</button>
  </div>
</ion-content>