<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="assets/catcoin.png" alt="Moneda" class="coin"><br><!--MMoneda de 128*128 con resolucion de 32*32-->
    <img src="assets/appLogo1.png"><br><!--Logo de 256*256 conr resolucion de 64*64-->
    <img src="assets/profileIcon_black.png"><img src="assets/profileIcon_gray.png">
    <img src="assets/profileIcon_orange.png"><br>
    <img src="assets/shop_Icon.png">
    <img src="assets/doorIcon_c.png"><img src="assets/doorIcon_o.png">
    <p>Cuatro versiones distintas de cada gato posible de seleccionar con sus emociones distintas</p>
    <img src="assets/Dashboard/blackCat/blackCat_normal.png"> <img src="assets/Dashboard/blackCat/blackCat_weird.png">
    <img src="assets/Dashboard/blackCat/blackCat_sad.png"> <img src="assets/Dashboard/blackCat/blackCat_happy.png"><br>

    <img src="assets/Dashboard/orangeCat/orangeCat_normal.png"> <img
      src="assets/Dashboard/orangeCat/orangeCat_weird.png">
    <img src="assets/Dashboard/orangeCat/orangeCat_sad.png"> <img
      src="assets/Dashboard/orangeCat/orangeCat_happy.png"><br>

    <img src="assets/Dashboard/grayCat/grayCat_normal.png"> <img src="assets/Dashboard/grayCat/grayCat_weird.png">
    <img src="assets/Dashboard/grayCat/grayCat_sad.png"> <img src="assets/Dashboard/grayCat/grayCat_happy.png">


  </div>
</ion-content>