<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="assets/cointest.png" alt="Moneda" class="coin"><br>
    <!--Esta es de 128*128 exportada pero hecha a 32*32 pixeles originalmente-->
    <!--Creo que me quedo con esta opcion-->
    <img src="assets/catcoin.png" alt="Moneda" class="coin"><br>


    <img src="assets/cointest2.png" alt="Moneda" class=""><br><!--Esta esta hecha y exportada con 32*32 pixeles-->

    <img src="assets/cointest3.png" alt="Moneda" class=""><!--Esta es hecha y exportada con 128*128 px-->
  </div>
</ion-content>